@import '../../../node_modules/materialize-css/sass/components/_color-variables.scss';
$primary-color: #00c895;
$accent-color:  #F37021;
@import '../../../node_modules/materialize-css/sass/materialize.scss';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	font-family: "Open Sans";
	color: #404040;
	font-weight: 300;
	p {
		line-height: 2em;
	}
	section, .heading-container, .intro {
		margin: 45px 0;
	}
}

section {
	overflow-x: hidden;
}

aside svg {
	width: 25px;
}

header {
	background-color: #00c895;
	width: 100%;
	color: white;
	user-select: none;
	nav {
		box-shadow: none;
		.links {
			display: none;
		}
	}
	div img {
		position: absolute;
		right: 0;
		z-index: 9999;
		width: 250px;
	}
}

section:nth-child(even) {
	background-color: $primary-color;
}

footer {
	position: static;
	bottom: 0;
	left: 0;
	width: 100%;
}

main {
	flex: 1;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	color: rgba(0, 0, 0, 0.75);
}

.outline-main {
	position: absolute;
	top: 71px;
	z-index: 9999;
	font-size: 2.6em;
	font-weight: bold;
	color: $primary-color;
	text-transform: none;
    text-shadow:
       -1px -1px 0 $accent-color,  
        1px -1px 0 $accent-color,
        -1px 1px 0 $accent-color,
         1px 1px 0 $accent-color
}

.outline-second {
	font-size: 2.5em;
	line-height: 1.25em;
	font-weight: bold;
    color: $primary-color;
    text-shadow:
       -1px -1px 0 rgba(255, 255, 255, 0.75),  
        1px -1px 0 rgba(255, 255, 255, 0.75),
        -1px 1px 0 rgba(255, 255, 255, 0.75),
         1px 1px 0 rgba(255, 255, 255, 0.75)
}

.outline-third {
	font-size: 2.5em;
	line-height: 1.25em;
	font-weight: bold;
    color: $primary-color;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.5),  
		1px -1px 0 rgba(255, 255, 255, 0.5),
		-1px 1px 0 rgba(255, 255, 255, 0.5),
	 	1px 1px 0 rgba(255, 255, 255, 0.5)
}

.outline-fourth {
	font-size: 2.5em;
	line-height: 1.25em;
	font-weight: bold;
    color: $primary-color;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.25),  
		1px -1px 0 rgba(255, 255, 255, 0.25),
		-1px 1px 0 rgba(255, 255, 255, 0.25),
	 	1px 1px 0 rgba(255, 255, 255, 0.25)
}

.heading-container {
	position: relative;
}

.placeholder {
	color: $primary-color;
	font-size: 2.5em;
	line-height: 1.25em;
}

.heading-text h2 {
	margin-top: -5px;
	margin-bottom: -5px;
}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

svg {
	  fill: white;
	  margin: 5px;
  }

.prize {
	display: flex;
	flex-direction: column;
	.prize-text {
		font-size: 2em;
		text-align: center;
		span {
			font-size: 7em;
			font-weight: bold;
			line-height: 1em;
			color: #fff;
			text-shadow:
				-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000
		}
	}
}

.team-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-between;
	img {
		width: 150px;
		margin: 5px;
		&:hover {
		filter:  url(#monochrome);
		}
	}
} 


/**********
DECORATIONS
**********/

.tri1 {
	z-index: -999;
	width: 100px;
	position: absolute;
	top: 670px;
	left: -25px;
}

.tri2 {
	z-index: -999;
	width: 125px;
	position: absolute;
	top: 725px;
	left: -50px;
}

.circ1 {
	z-index: -999;
	width: 125px;
	position: absolute;
	top: 950px;
	right: 10px;
}

.circ2 {
	z-index: -999;
	width: 110px;
	position: absolute;
	top: 1450px;
	left: -25px;
}

.rect1 {
	z-index: -999;
	width: 120px;
	position: absolute;
	top: 1400px;
	left: -60px;
}

.rect2 {
	z-index: -999;
	width: 125px;
	position: absolute;
	top: 1000px;
	right: 20px;
}

/**********
MEDIA QUERIES
**********/

@media screen and (min-width: 800px) {
	body {
		section, .heading-container, .intro {
		margin: 75px 0;
		}
		p {
			font-size: 1.25em;
		}
	}

	aside {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 50px;
		top: 45%;
		svg {
			width: 35px;
		}
	}

	.outline-main, .outline-second, .outline-third, .outline-fourth {
		font-size: 5em;
	}

	header div img {
		width: 600px;
	}
	
	.outline-main {
		top: 199px;
	}

	header nav .links {
		display: flex;
		justify-content: space-between;
		width: 30%;
		float: right;
	}

	.prize {
		flex-direction: row;
		justify-content: space-around;
		margin-top: 100px;
	}

	.airpods {
		width: 500px;
	}

	.intro {
		display: flex;
		justify-content: space-between;
		p {		
		width: 45%;
		}
	}

	.competition-text {
		display: flex;
		justify-content: space-between;
	 div {
		width: 45%;
	}
	}

	section h1 {
		font-size: 3em;
	}
	
	.prize .prize-text span {
		font-size: 9em;
	}

	.team-images img {
		width: 250px;
	}
}

@media screen and (min-width: 1400px) {	
	header div img {
		width: 800px;
	}

	.team-images img {
		width: 300px;
	}
}