@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f9fd;
}


header {
    color: #fff;
    height: 70px;
    user-select: none;

    .logo {
        width: 40px;
        height: 40px;
    }
}

footer {
    height: 50px;
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}