@import '../../../node_modules/materialize-css/sass/components/_color-variables.scss';
$primary-color: #00c895;
$accent-color:  #F37021;
$dark-blue: #20262b;
@import '../../../node_modules/materialize-css/sass/materialize.scss';

body {
	font-family: "Open Sans";
	color: #404040;
	font-weight: 300;
	p {
		line-height: 2em;
		font-size: 1.1em;
	}
	.heading-container {
		margin: 64px 0;
	}
	.content {
		position: relative;
		overflow: hidden;
	}
	a {
		color: $accent-color;
		font-weight: bold;
	}
}

header {
	background-color: $primary-color;
	color: rgba(255, 255, 255, 0.9);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	nav {
		z-index: 9999;
		width: 90%;
		margin: auto;
		-webkit-box-shadow: none;
		        box-shadow: none;
		.links {
			display: none;
		}
	}
	#team-photo {
		position: absolute;
		width: 50vw;
		max-width: 700px;
		min-width: 250px;
		right: 0;
		z-index: 9998;
		border-radius: 4px;
		-webkit-box-shadow: 2px, 2px, #404040;
		        box-shadow: 2px, 2px, #404040;
	}
	aside {
		display: flex;
		flex-direction: row-reverse;
		img {
			width: 35px;
		}
	}
	@media screen and (min-width: 1000px) {
	}
}

section {
	margin-bottom: 130px;
}

#examples {
	.example-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		.example {
			width: 100%;
		}
	}
	h1, p {
		color: white;
	}
	h2 a {
		color: $primary-color;
	}
}

button {
	padding: 10px 30px;
	border-radius: 4px;
	background: $dark-blue;
	color: rgba(255, 255, 255, 0.9);
	border: none;
	cursor: pointer;
	&:focus {
		background: $dark-blue;
	}
	&:active {
		background: lighten($dark-blue, 20%);
	}
	a {
		color: rgba(255, 255, 255, 0.9);
	}
}

section {
	overflow: visible;
	position: relative;
}

aside img {
	width: 25px;
	margin: 7px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 175px;
	background-color: $primary-color;
	color: white;
	text-align: center;
	p {
		width: 100%;
	}
}

main {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 3em;
	font-family: times;
	color: rgba(0, 0, 0, 0.75);
}

.green-background {
	h1 {
		color: rgba(255, 255, 255, 0.9);
	}
	color: rgba(255, 255, 255, 0.9);
	background: $primary-color;
}

.blue-background {
	h1 {
		color: rgba(255, 255, 255, 0.9);
	}
	color: rgba(255, 255, 255, 0.9);
	background: $dark-blue;
}

#amazon {
	width: 200px;
}

#competition {
	.cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		> div {
			flex: 1;
		}
	}
	@media only screen and (max-width: 700px) {
		.cards {
			flex-direction: column;
			align-items: center;
			> div:first-child {
				margin-bottom: 20px;
			}
		}
	}
}

h2 {
	font-weight: 700;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.75);
	a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: rgba(0, 0, 0, 0.75);
		&:hover {
			text-decoration: underline;
		}
	}
	img {
		margin-right: 10px;
	}
}

#diversity {
	#people {
		width: 100%;
		height: auto;
		max-width: 500px;
		max-height: 500px;
		border-radius: 50%;
	}

	strong {
		font-size: 24px;
		color: $dark-blue;
	}
}

.outline-main {
	overflow:visible;
	position: absolute;
	top: 80px;
	z-index: 9998;
	font-size: 2.6em;
	stroke-width: 3;
	font-weight: 800;
}

.outline-second, .placeholder, .outline-third, .outline-fourth {
	font-size: 2.5em;
	font-weight: 800;
	margin: -55px 0;
	stroke-width: 1.5;
}

.heading-container {
	position: relative;
}

.placeholder {
	color: $primary-color;
	font-size: 2.5em;
	line-height: 1.25em;
}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

.prize {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
			flex-direction: column;
	margin: 0 auto;
	.prize-text {
		font-size: 2em;
		text-align: center;
	}
}

.team-images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: space-between;
	    -ms-flex-align: space-between;
			align-items: space-between;
	img {
		width: 150px;
		border-radius: 200px;
		margin: 5px;
		&:hover {
		-webkit-filter:  url(#monochrome);
		        filter:  url(#monochrome);
		}
	}
	p {
		font-size: .75em;
		text-align: center;
		margin-top: -5px;
		font-weight: 600;
	}
} 

.avatars {
	display: flex;
	flex-direction: row-reverse;
	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin: 0 5px;
	}
}


/**********
DECORATIONS
**********/

.tri1 {
	z-index: -9999;
	width: 110px;
	position: absolute;
	top: 2350px;
	left: 350px;
}

.tri2 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 2300px;
	left: 300px;
}

.tri3 {
	z-index: -9999;
	width: 110px;
	position: absolute;
	top: 4350px;
	left: 350px;
}

.tri4 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 4300px;
	left: 300px;
}

.circ1 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 950px;
	right: 0px;
}

.circ2 {
	z-index: -9999;
	width: 110px;
	position: absolute;
	top: 1700px;
	right: 20px;
}

.circ3 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 3950px;
	right: 0px;
}

.circ4 {
	z-index: -9999;
	width: 110px;
	position: absolute;
	top: 4550px;
	left: -25px;
}

.rect1 {
	z-index: -9999;
	width: 120px;
	position: absolute;
	top: 1460px;
	left: -60px;
}

.rect2 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 1040px;
	right: 20px;
}

.rect3 {
	z-index: -9999;
	width: 120px;
	position: absolute;
	top: 4460px;
	left: -60px;
}

.rect4 {
	z-index: -9999;
	width: 125px;
	position: absolute;
	top: 4040px;
	right: 20px;
}

/**********
SLANTS
**********/

.bottom-slant {
	z-index: -999;
	background-color: $primary-color;
	height: 300px;
	width: 150%;
	-webkit-transform: rotate(4deg) translateX(-10%);
	    -ms-transform: rotate(4deg) translateX(-10%);
	        transform: rotate(4deg) translateX(-10%);
	position: absolute;
	bottom: -100px;
	left: 0;
}

.examples-top-slant {
	z-index: -999;
	background-color: $primary-color;
	height: 300px;
	width: 120%;
	-webkit-transform: rotate(4deg) translateX(-10%);
	    -ms-transform: rotate(4deg) translateX(-10%);
	        transform: rotate(4deg) translateX(-10%);
	position: absolute;
	top: -50px;
}

.blue-background {
	.examples-top-slant {
		background-color: $dark-blue;
	}
}

.examples-bottom-slant {
	z-index: -999;
	background-color: $primary-color;
	height: 300px;
	width: 120%;
	-webkit-transform: rotate(-7deg) translateX(-10%);
	    -ms-transform: rotate(-7deg) translateX(-10%);
	        transform: rotate(-7deg) translateX(-10%);
	position: absolute;
	top: 3400px;
}

.footer-slant {
	z-index: -999;
	background-color: $primary-color;
	height: 250px;
	width: 120%;
	-webkit-transform: rotate(-5deg) translateX(-10%) translatey(-10%);
	    -ms-transform: rotate(-5deg) translateX(-10%) translatey(-10%);
	        transform: rotate(-5deg) translateX(-10%) translatey(-10%);
	position: absolute;
	bottom: 0;
}

/**********
MEDIA QUERIES
**********/

@media screen and (min-width: 1000px) {
	body {
		p {
			font-size: 1.25em;
		}
	}

	.header-slant {
		height: 1450px;
		top: -50px;
	}

	.examples-bottom-slant {
		height: 500px;
		top: 3400px;
	}


	#examples {
		padding: 25px 0;
		.example-group {
			.example {
				width: 45%;
			}
		}
	}


	.placeholder, .outline-second, .outline-third, .outline-fourth {
		font-size: 5.75em;
		margin: -30px 0;
		stroke-width: 3;
		font-weight: 800;
	}

	.animated{
		-webkit-animation-duration: 1.5s;
		        animation-duration: 1.5s;
	}


	.outline-main {
		font-size: 5.75em;
		margin: -30px 0;
		top: 280px;
		stroke-width: 5;
		font-weight: 800;
	}

	header {
		nav {
			width: 100%;
			position: absolute;
			top: 0;
			z-index: 99999999;
			.navbar-brand{
				margin: 0rem 2rem;
			}
			.links {
			margin: 0rem 2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
			width: 30%;
			float: right;
			}
		}
		aside {
			flex-direction: column;
			position: absolute;
			left: 50px;
			top: 45vh;
		}
	}

	.prize {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.intro {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		p {		
		width: 45%;
		}
	}

	.competition-text {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	 div {
		width: 45%;
	}
	}

	section h1 {
		font-size: 3em;
	}
	
	.prize .prize-text span {
		font-size: 9em;
	}

	.team-images img {
		width: 250px;
	}

	.circ1 {
		width: 250px;
		top: 1500px;
		right: 10px;
	}
	
	.circ2 {
		width: 220px;
		top: 2300px;
		left: -25px;
	}

	.circ3 {
		width: 250px;
		top: 4000px;
		right: 10px;
	}
	
	.circ4 {
		width: 220px;
		top: 4400px;
		left: -25px;
	}
	
	.rect1 {
		width: 240px;
		top: 2100px;
		left: -60px;
	}
	
	.rect2 {
		width: 250px;
		top: 1700px;
		right: 20px;
	}

	.rect3 {
		width: 240px;
		top: 4200px;
	}
	
	.rect4 {
		width: 250px;
		top: 3800px;
	}

	.tri1 {
		width: 325px;
		top: 2600px;
		left: 1000px;
	}
	
	.tri2 {
		width: 300px;
		top: 2700px;
		left: 1200px;
	}

	.tri3 {
		width: 325px;
		top: 5000px;
	}
	
	.tri4 {
		width: 300px;
		top: 5100px;

	}
	
}

@media screen and (min-width: 1400px) {	
	

	.team-images {
	 img {
		width: 300px;
	}
	p {
		font-size: 1.2em;
	}
}

	.examples-bottom-slant {
		top: 3500px;
		height: 500px;
	}

}

.image-container {
	position: relative;
	width: 100%;
	text-align: center;
  }
  
  .desktop-image {
	width: 70vw;
	height: auto;
	display: block; 
	margin: 0 auto;

  }
  
  .mobile-image {
	display: none; 
	width: 100%;
	height: auto;
  }
  
  @media screen and (max-width: 768px) {
	.desktop-image {
	  display: none;
	}
	.mobile-image {
	  display: block;
	}
  }
  
  .footer-text {
	text-align: center;
	padding: 50px; 
  }
  
  .footer-text p {
	margin: 0;
	padding: 100px;
  }
  
  .footer-text strong {
	color: #fff; 
	font-size: 1rem;
  }
  
  @media (max-width: 768px) {
	.footer-text strong {
	  font-size: 0.9rem;
	  margin-top: -40%;
	}
	
	.footer-text {
	  padding: 15px 15px 5px;
	}

	.footer-text p {
		margin-bottom: -10px;
	  }

  }
  .center-align {
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: column; 
	padding: 20px; 
  }
  